<div class="middle-col">
  <div class="grid flex-row flex-center">
    <div><img src="../assets/gifs/backflip1.gif" /></div>
    <div><img src="../assets/gifs/graduation-90s.gif" /></div>
    <div><img src="../assets/gifs/halos.gif" /></div>
    <div><img src="../assets/gifs/swipe-hollow.gif" /></div>
  </div>
</div>
