<!DOCTYPE html>
<html>
<head>
    <title>BYCHING</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css?version=1" />
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <script type="module" src="index.js"></script>
</head>
<body id="bg">
    <%- include('header'); %>
        <div class="max-width-wrapper">
            <div class="post-grid">
                <div class="post-wrapper">
                    <div class="post-content">
                        <h2 class="post-title">Post 1</h2>
                        <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet vel enim nec
                            facilisis.
                            Suspendisse
                            eget
                            nisl mauris. Pellentesque vitae libero porta, aliquet sapien eu, dapibus urna. Proin
                            consequat non purus
                            quis
                            suscipit. Nam ac semper enim, non interdum diam. Quisque vel sapien sapien. Morbi volutpat
                            pulvinar
                            felis a
                            efficitur. Donec dignissim, purus sed scelerisque mattis, erat orci pretium lacus, eu mattis
                            ligula nibh
                            id
                            nibh. Cras fringilla quam eget sapien commodo, vitae dignissim massa efficitur. Mauris
                            dignissim diam
                            vel
                            ipsum
                            sollicitudin, sit amet rhoncus nisi lacinia. Cras feugiat tellus massa, quis rhoncus ipsum
                            viverra
                            vitae. Ut
                            vel
                            elementum purus, vitae lacinia eros. Etiam luctus mattis sapien, nec tristique dui pharetra
                            faucibus.
                            Aliquam
                            dictum arcu lorem, at feugiat mauris venenatis nec. Praesent eget nunc dignissim, aliquet
                            elit at,
                            facilisis
                            justo. Proin eu elit elementum, imperdiet enim eget, pellentesque mauris.
                        </p>
                    </div>
                    <div class="flex-row flex-center fix-bottom">
                        <div class="open-post-button">
                            <div class="arrow-left">
                            </div>
                            <div class="read-more">
                                Read more
                            </div>
                            <div class="arrow-right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-wrapper">
                    <div class="post-content">
                        <h2>Post 2</h2>
                        <p class="post-text">
                        Phasellus ornare ac justo nec maximus. Maecenas maximus pretium elit vel volutpat. Proin quis
                        faucibus
                        orci.
                        Proin imperdiet faucibus tortor quis vehicula. Vivamus condimentum faucibus pulvinar.
                        Suspendisse
                        pretium
                        tortor
                        orci, consequat consectetur lectus tempus eget. Quisque maximus lectus eu eros ultricies
                        porta. Praesent
                        vel
                        nibh nec mi tristique mattis. Nulla varius eleifend consequat. In porta justo ac nulla
                        porttitor
                        fringilla.
                        Vestibulum ac lacinia metus. Integer quis felis libero. Sed imperdiet tortor eget urna
                        condimentum, id
                        ultrices
                        felis molestie.
                        </p>
                    </div>
                    <div class="flex-row flex-center fix-bottom">
                        <div class="open-post-button">
                            <div class="arrow-left">
                            </div>
                            <div class="read-more">
                                Read more
                            </div>
                            <div class="arrow-right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-wrapper">
                    <div class="post-content">
                        <h2>Post 3</h2>
                        <p class="post-text">In rutrum massa arcu, sed condimentum lectus porta quis. In rhoncus massa ut turpis tristique
                            ornare non
                            eget
                            augue. Integer lobortis quam ut leo tincidunt viverra. Nullam congue, sem posuere euismod
                            pulvinar, arcu
                            enim
                            viverra diam, sed varius felis dolor eu libero. Maecenas tempus quis magna id rutrum. Donec
                            magna
                            libero,
                            faucibus id nisl sed, pretium aliquam elit. Nullam lobortis ornare turpis, aliquet
                            condimentum odio
                            </p>
                    </div>
                    <div class="flex-row flex-center fix-bottom">
                        <div class="open-post-button">
                            <div class="arrow-left">
                            </div>
                            <div class="read-more">
                                Read more
                            </div>
                            <div class="arrow-right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-wrapper">
                    <div class="post-content">
                        <h2>Post 4</h2>
                        <p class="post-text">In rutrum massa arcu, sed condimentum lectus porta quis. In rhoncus massa ut turpis tristique
                            ornare non
                            eget
                            augue. Integer lobortis quam ut leo tincidunt viverra. Nullam congue, sem posuere euismod
                            pulvinar, arcu
                            enim
                            viverra diam, sed varius felis dolor eu libero. Maecenas tempus quis magna id rutrum. Donec
                            magna
                            libero,
                            faucibus id nisl sed, pretium aliquam elit. Nullam lobortis ornare turpis, aliquet
                            condimentum odio
                            facilisis
                            sed. Aliquam tempus malesuada mi, non sodales erat condimentum sed. Sed est justo, feugiat
                            ut libero sit
                            amet,
                            sodales fermentum dui. Phasellus eget lectus erat. Nulla tempor metus sed varius placerat.
                            Sed
                            consectetur
                            neque
                            eu risus ultricies, sit amet tempus metus eleifend. Proin sed mauris dignissim, condimentum
                            quam nec,
                            sagittis
                            dolor. Sed scelerisque mollis justo, ac scelerisque eros rutrum ut. Phasellus ultricies sit
                            amet dolor
                            id
                            suscipit. Pellentesque sed sapien ac nibh elementum luctus.</p>
                    </div>
                    <div class="flex-row flex-center fix-bottom">
                        <div class="open-post-button">
                            <div class="arrow-left">
                            </div>
                            <div class="read-more">
                                Read more
                            </div>
                            <div class="arrow-right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-wrapper">
                    <div class="post-content">
                        <h2>Post 5</h2>
                        <p class="post-text">In rutrum massa arcu, sed condimentum lectus porta quis. In rhoncus massa ut turpis tristique
                            ornare non
                            eget
                            augue. Integer lobortis quam ut leo tincidunt viverra. Nullam congue, sem posuere euismod
                            pulvinar, arcu
                            enim
                            viverra diam, sed varius felis dolor eu libero. Maecenas tempus quis magna id rutrum. Donec
                            magna
                            libero,
                            faucibus id nisl sed, pretium aliquam elit. Nullam lobortis ornare turpis, aliquet
                            condimentum odio
                            facilisis
                            sed. Aliquam tempus malesuada mi, non sodales erat condimentum sed. Sed est justo, feugiat
                            ut libero sit
                            amet,
                            sodales fermentum dui. Phasellus eget lectus erat. Nulla tempor metus sed varius placerat.
                            Sed
                            consectetur
                            neque
                            eu risus ultricies, sit amet tempus metus eleifend. Proin sed mauris dignissim, condimentum
                            quam nec,
                            sagittis
                            dolor. Sed scelerisque mollis justo, ac scelerisque eros rutrum ut. Phasellus ultricies sit
                            amet dolor
                            id
                            suscipit. Pellentesque sed sapien ac nibh elementum luctus.</p>
                    </div>
                    <div class="flex-row flex-center fix-bottom">
                        <div class="open-post-button">
                            <div class="arrow-left">
                            </div>
                            <div class="read-more">
                                Read more
                            </div>
                            <div class="arrow-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                shave('.post-text', 50);
                const postButtons = document.getElementsByClassName('open-post-button');

                for(let i = 0; i < postButtons.length; i++) {
                    postButtons[i].addEventListener('mouseover', animateArrowsOpen);
                    postButtons[i].addEventListener('mouseleave', animateArrowsClose);
                }

                for(let i = 0; i < postButtons.length; i++) {
                    const btn = postButtons[i];
                    btn.dataset.index = i + 1;
                    btn.dataset.clicked = false;
                    // btn.addEventListener('mouseover', showClickPost);
                    // btn.addEventListener('mouseleave', hideClickPost);
                    btn.addEventListener('click', togglePost);
                }
            });

            function animateArrowsOpen() {
                const arrowLeft = this.querySelector('.arrow-left');
                const arrowRight = this.querySelector('.arrow-right');
                arrowRight.style.transform = 'translateX(15px)';
                arrowLeft.style.transform = 'translateX(-15px)';
            }
            function animateArrowsClose() {
                const arrowLeft = this.querySelector('.arrow-left');
                const arrowRight = this.querySelector('.arrow-right');
                arrowRight.style.transform = 'translateX(0)';
                arrowLeft.style.transform = 'translateX(0)';
            }

            function hideClickPost() {
                if(this.dataset.clicked === 'true') {
                    return;
                }
                const newArrow = this.querySelector('.new-arrow');
                newArrow.style.transform = 'translateY(0)'
            }

            function showClickPost() {
                console.log('showClickPost')
                const newArrow = this.querySelector('.new-arrow');
                newArrow.style.transform = 'translateY(15px)'
            }

            function togglePost(e) {
                const posts = document.getElementsByClassName('post-wrapper');
                const index = this.dataset.index;
                const post = posts[index - 1];
                if(!post.classList.contains('expanded')) {
                    post.classList.add('expanded');
                    this.dataset.clicked = 'true';
                    console.log('index', `${index}`)
                    const text = document.querySelector(`.post-wrapper:nth-child(${index}) > .post-content > .post-text`);
                    // console.log(text);
                    const textHeight = parseInt(window.getComputedStyle(text).fontSize, 10);
                    console.log('textheight', textHeight)
                    post.style.height = `${textHeight}px`;
                    shave(`.post-wrapper:nth-child(${index}) > .post-content > .post-text`, 400);
                    return;
                }
                post.classList.remove('expanded');
                post.style.height = '200px';
                shave(`.post-grid > .post-wrapper:nth-child(n + ${index}) > .post-content > .post-text`, 50);
                this.dataset.clicked = 'false';
            }
        </script>
</body>
</html>