
  <div class="flex-row flex-center">
    <p>
      This page is a collection of places that left an impression on me.
      A large portion are cafes and restaurants. But sprinkled around are parks and other random locations.
    </p>
  </div>
  <span id="focused-country" style="display: none; font-size: 24px; font-family: 'Oswald', sans-serif;">
  </span>
  <div class="countries grid flex-row flex-center">
    <div>Japan</div>
    <div>Korea</div>
    <div>Thailand</div>
    <div>Germany</div>
    <div>Taiwan</div>
  </div>
  <div class="flex-row flex-center">
    <div id="map"></div>
    <div id="map-panel" class="col-250">
      <ul id="place-list">
      </ul>
    </div>
  </div>
