@font-face {
  font-family: StalinistOne-Regular;
  src: url('../font/StalinistOne-Regular.ttf');
}
@font-face {
  font-family: Mitr-Regular;
  src: url('../font/Mitr-Regular.ttf');
}
@font-face {
  font-family: SeymourOne-Regular;
  src: url('../font/SeymourOne-Regular.ttf');
}
body {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #454444;
  height: 80px;
}

h1, h2, li {
  color: #E2DFDF;
}


h1 {
  font-family: SeymourOne-Regular;
  font-size: 38;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

h2 {
  margin: 0;
  font-size: 24px;
  font-family: Mitr-Regular;
}

span.h2-style {
  display: block;
  font-family: Mitr-Regular;
  font-size: 38px;
  color: #D8B608;
  text-align: center;
}

#waves-wrapper {
  position: relative;
  height: 168px;
  width: 100%;
}

#waves {
  position:absolute;
  height: 100%;
  width: 100%;
}

#waves > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.max-width-wrapper {
  position: static;
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: inline-block;
  text-align: left;
}
ul > li {
  /* font-family: Mitr-Regular; */
  font-family: StalinistOne-Regular;
  font-size: 24;
}
ul > li:not(:last-child) {
  padding-right: 30px;
}

a {
  color: #fff;
  text-decoration: none;
  /* letter-spacing: 0.15em; */
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

#logo {
  position: absolute;
  bottom: 0;
  padding-left: 50px;
}

.list-wrapper {
  /* text-align: center; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* background: #454444; */
}
.list-wrapper > div {
  margin-left: 50px;
  margin-right: 50px;
  width: 50%;
}
.list-wrapper > div > h2 {
  text-align: center;
}

section.top-bar {
  /* display: flex; */
  background-color: #454444;
  /* justify-content: center; */
  height: 80px;
  width: 100%;
}

p {
  font-family: 'Merriweather', serif;
}

.article {
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

canvas {
  height: 500px;
  z-index: -1;
  display: block;
}

.content-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 0 30px 0;
}

.double-col {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.site-border {
  width: 100%;
  height: 10vh;
}

#footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  margin-top: 5vh;
  background-color: hsl(210deg, 30%, 8%);
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
}

.next-section-icon {
  width: 50px;
  height: 50px;
  border: 2px solid #9495A0;
  background-color: beige;
  border-radius: 25%;
}
.next-section-icon:hover {
  /* background-color: rgba(148, 149, 160, 0.25); */
  background-color: #9495A0;
}
.next-section-icon.up {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}
.next-section-icon > i {
  background-image: url('../images/chevron-down-solid.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.line {
  border-top: 1px solid;
  width: 80%;
  margin: 0 auto;
}

.middle-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.li-desc:hover {
  background-color: rgba(150, 150, 150, 0.2);
}

#map-panel {
  height: 500px;
  /* background-color: red; */
  overflow-y: scroll;
  border: 1px solid black;
}

.back {
  border: 1px solid black;
  width: 80px;
}
.back:hover {
  background-color: rgba(150, 150, 150, 0.2);
}

.half-col {
  width: 50%;
  margin: 0 50px 0 50px;
}

.col-250 {
  width: 250px;
}

.col-400 {
  width: 400px;
}

.rounded {
  border-radius: 15%;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.center-self {
  margin: 0 auto;
}

/* .flex-row p {
  width: 600px;
} */

.flex-center {
  justify-content: center;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.white-text {
  color: black;
}
.grid {
  display: grid;
  /* grid-template-columns: 200px 200px 200px 200px; */
  grid-template-columns: 200px 200px;
  grid-column-gap: 20%;
  /* grid-template-columns: repeat(auto-fill, minmax(60px,200px)); */
}

.grid div img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.grid div {
  justify-self: center;
}

.countries {
  padding-bottom: 50px;
}
.countries div {
  margin: 10px;
  transition: outline 500ms;
  cursor: crosshair;
  border: 1px dotted black;
}
.countries div:hover {
  animation: color_change 0.5s;
  animation-fill-mode: forwards;
}

.expand {
  outline: thick double #32a1ce;
}
header {
  position: relative;
}

header * {
  display: inline;
}

nav {
  float: right;
  /* padding: 25px 15vw 0 0; */
  padding-right: 15vw;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.nav-button {
  height: 25px;
  width: 160px;
  border: solid 1px;
  text-align: center;
  display: block;
}

.word-link {
  display: inline-block;
}
.word-link:hover {
	animation: color_change 0.5s;
  animation-fill-mode: forwards;
}
@keyframes color_change {
	from { background-color: none; }
	to { background-color: rgba(170, 240, 170, 0.5); }
}

.transform-top-left {
  position: absolute;
  transform: translateX(-320px) rotate(-45deg);
}
.transform-top-right {
  position: absolute;
  transform: translateX(320px) rotate(45deg);
}
.transform-bottom-right {
  position: absolute;
  transform: translateY(405px) translateX(320px) rotate(-45deg);
}
.transform-bottom-left {
  position: absolute;
  transform: translateY(405px) translateX(-320px) rotate(45deg);
}

.flip-color:hover {
  cursor: crosshair;
  background-color: rgba(255, 255, 255, 0.9);
}

.lemon {
  background-color: rgba(255, 220, 20, 0.6);
}
.kiwi {
  background-color: rgba(170, 240, 170, 0.5);
}
.bubblegum {
  background-color: rgba(240, 170, 170, 0.5);
}
.graphite {
  background-color: rgba(40, 40, 40, 0.2);
}
.red {
  background-color: rgb(234, 51, 35, 0.2);
}
.blue {
  background-color: rgb(35, 51, 234, 0.2);
}
.grey {
  background-color: #9495A0;
  color: white;
}
.green {
  background-color: #7CE79D;
}

.container {
  height: 100%;
  width: 100%;
}

.container-media {
  height: 320px;
  width: 480px;
  border-radius: 50%;
}

.container-media img {
  align-self: center;
  width: 100%;
  height: auto;
}

#bg {
  background: #7D7C7C;
}

.bouncebox {
  border-radius: 10% / 50%;
  padding: 15px;
  animation: bouncebox-back linear 1s;
  animation-fill-mode: forwards;
  border: solid 7px #41403E;
}
.bouncebox:hover {
  animation: bouncebox linear 0.6s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
@keyframes bouncebox {
	0% { border-radius: 10% / 50%; }
  12% { border-radius: 0%; }
  24% { border-radius: 5%; }
}
@keyframes bouncebox-back {
  0% { border-radius: 5%; }
  12% { border-radius: 0%; }
	24% { border-radius: 10% / 50%; }
}

/* Flashlight Overlay */
/* Thanks to Tommy Hodgins https://codepen.io/tomhodgins/pen/egWjBb */
.flashlight {
  cursor: none;
}
.flashlight:before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15%;
  position: absolute;
  cursor:none;
  top: 0;
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(10, 0, 0, 0) 0%,
    rgba(10, 0, 0, 0.5) 80%,
    rgba(10, 0, 0, 0.95) 100%
  )
}

/* .pop-out {
  width: 240px;
  height: 60px;
  border-radius: 4px;
  background-color: green;
  color: white;
  display: inline-block;
  font-size: 20px;
  font-family: 'Cooper Black', sans-serif;
-webkit-animation: pop-out 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: pop-out 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
       animation-iteration-count: infinite;
} */

.text-box {
  position: relative;
  padding: 50px;
  background: #E2DFDF;
  height: 100px;
  width: 400px;
}
.text-box > h2 {
  color: #454444;
}

.pop-out {
-webkit-animation: pop-out 0.2s ease-in-out both;
        animation: pop-out 0.2s ease-in-out both;
        /* Animate after fade-in transition */
        animation-iteration-count: 1;
}
.pop-in {
  /* transform: scale(1.00, 1.00); */
-webkit-animation: pop-in 0.2s ease-in both;
        animation: pop-in 0.2s ease-in both;
        animation-iteration-count: 1;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh) scaleX(0.5) scaleY(1.5);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  /* will-change: opacity, visibility; */
  padding-bottom: 30vh;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.play-button {
  position: relative;
  height: 80px;
  width: 100px;
  background: #454444;
  border: 2px solid #E2DFDF;
  border-radius: 10px;
}

.play-button-wrapper {
  width: 60px;
  height: 60px;
}

.play-button-wrapper > svg {
  display: block;
  position: relative;
  left: 15px;
  top: 4px;
  margin: auto;
}

/* .play-button:focus {
  outline: 2px dashed #fff;
} */

/* .play-button:hover {
  transform: scale(1.1);
  cursor: pointer;
} */

/* .play-button:hover svg {
  transform: scale(1.1);
} */

.slider-wrapper{
  width: 300px;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  /* transition: opacity .2s; */
  transition: .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #D8B608;
  border: #454444 1px solid;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #D8B608;
  border: #454444 1px solid;
  cursor: pointer;
}

/** The Keyframes **/
@-webkit-keyframes pop-out {
0% {
  box-shadow: none;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
100% {
  box-shadow: -2px 2px 0 2px #D8B608, -4px 4px 0 4px #d8b50880;
  /* box-shadow: inset -2px 2px 2px 2px #D8B608, inset -4px 4px 4px 4px #D8B608; */
  -webkit-transform: translateX(4px) translateY(-4px);
          transform: translateX(4px) translateY(-4px);
}
}
@keyframes pop-out {
0% {
  box-shadow: none;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
100% {
  box-shadow: -2px 2px 0 2px #D8B608, -4px 4px 0 4px #d8b50880;
  /* box-shadow: inset -2px 2px 2px 2px #D8B608, inset -4px 4px 4px 4px #D8B608; */
  -webkit-transform: translateX(4px) translateY(-4px);
          transform: translateX(4px) translateY(-4px);
}
}

@-webkit-keyframes pop-in {
0% {
  box-shadow: -2px 2px 0 2px #D8B608, -4px 4px 0 4px #d8b50880;
  /* box-shadow: inset -2px 2px 2px 2px #D8B608, inset -4px 4px 4px 4px #D8B608; */
  -webkit-transform: translateX(4px) translateY(-4px);
          transform: translateX(4px) translateY(-4px);
}
100% {
  box-shadow: none;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
}
@keyframes pop-in {
0% {
  box-shadow: -2px 2px 0 2px #D8B608, -4px 4px 0 4px #d8b50880;
  /* box-shadow: inset -2px 2px 2px 2px #D8B608, inset -4px 4px 4px 4px #D8B608; */
  -webkit-transform: translateX(4px) translateY(-4px);
          transform: translateX(4px) translateY(-4px);
}
100% {
  /* box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e; */
  box-shadow: none;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
}