@font-face {
  font-family: StalinistOne-Regular;
  src: url('../font/StalinistOne-Regular.ttf');
}
@font-face {
  font-family: Mitr-Regular;
  src: url('../font/Mitr-Regular.ttf');
}
@font-face {
  font-family: SeymourOne-Regular;
  src: url('../font/SeymourOne-Regular.ttf');
}

:root {
  --white-bg: 226, 223, 223;
  --dark-bg: 69, 68, 68;
  --orange-julius: 216,182,8;
  --darker-orange: 171, 146, 22;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

header {
  background-color: rgb(var(--dark-bg));
  height: 80px;
}

h1, h2, li {
  color: rgb(var(--white-bg));
}

h1 {
  font-family: SeymourOne-Regular;
  font-size: 38;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

h2 {
  margin: 0;
  font-size: 24px;
  font-family: Mitr-Regular;
}

p {
  font-family: Mitr-Regular;
}

span.h2-style {
  display: block;
  font-family: Mitr-Regular;
  font-size: 38px;
  color: #D8B608;
  text-align: center;
}

#waves-wrapper {
  position: relative;
  height: 168px;
  width: 100%;
}

#waves {
  position:absolute;
  height: 100%;
  width: 100%;
}

#waves > svg {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}



.max-width-wrapper {
  margin-top: 60px;
  position: static;
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#nav-items {
  display: inline-block;
  text-align: left;
}
#nav-items > li {
  /* font-family: Mitr-Regular; */
  font-family: StalinistOne-Regular;
  font-size: 24;
}
#nav-items > li:not(:last-child) {
  padding-right: 30px;
}

#nav-items > li > a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
#nav-items > li > a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#nav-items > li > a:hover:after { 
  width: 100%; 
  left: 0; 
}

.fade-in-wrapper {
  position: relative;
}

#logo {
  padding-left: 10vw;
  padding-top: 15px;
  position: absolute;
}
 #logo > a {
   cursor: pointer;
 }

.list-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.list-wrapper > div {
  width: 50%;
}
.list-wrapper > div > h2 {
  color: rgb(var(--dark-bg));
  text-align: center;
}
.list-wrapper > div > ul {
  padding-inline-start: 0;
}
.list-wrapper > div > ul > li {
  font-family: Mitr-Regular;
  text-align: center;
  list-style-type: none;
  color: rgb(var(--dark-bg));
}

section.top-bar {
  background-color: rgb(var(--dark-bg));
  height: 80px;
  width: 100%;
}

/* p {
  font-family: 'Merriweather', serif;
} */

.article {
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

canvas {
  height: 500px;
  z-index: -1;
  display: block;
}

#footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  margin-top: 5vh;
  background-color: hsl(210deg, 30%, 8%);
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
}

.line {
  border-top: 1px solid;
  width: 80%;
  margin: 0 auto;
}

.middle-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.li-desc:hover {
  background-color: rgba(150, 150, 150, 0.2);
}

.back {
  border: 1px solid black;
  width: 80px;
}
.back:hover {
  background-color: rgba(150, 150, 150, 0.2);
}

.half-col {
  width: 50%;
  margin: 0 50px 0 50px;
}

.col-250 {
  width: 250px;
}

.col-400 {
  width: 400px;
}

.rounded {
  border-radius: 15%;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.center-self {
  margin: 0 auto;
}

.flex-center {
  justify-content: center;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.white-text {
  color: black;
}

header {
  position: relative;
}

header * {
  display: inline;
}

nav {
  float: right;
  /* padding: 25px 15vw 0 0; */
  padding-right: 15vw;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.nav-button {
  height: 25px;
  width: 160px;
  border: solid 1px;
  text-align: center;
  display: block;
}

.slide-in-bubble {
  background-color: rgb(var(--white-bg));
  border-radius: 12px;
  position: absolute;
  box-shadow: -12px 0px 2px 1px rgb(var(--orange-julius));
  border: 2px black solid;
}

#dev-bubble.slide-in-bubble {
  animation: slideInLeft 1s ease-in-out;
  top: 0;
}

#dev-bubble.slide-out {
  animation: slideOutLeft 1s ease-in-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400%);
  }
}

.word-bg-fill {
  box-shadow: #D8B608 0px -3px 0px 0px inset;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
}
.word-bg-fill:hover {
  box-shadow: #D8B608 0px -20px 0px 0px inset;
  -webkit-box-shadow: #D8B608 0px -20px 0px 0px inset;
}

.read-more {
  font-family: Mitr Regular;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.read-more:hover {
  color: rgba(var(--darker-orange), 0.8);
}

.post-title {
  display: inline-block;
}

.post-wrapper {
  background-color: rgb(var(--white-bg));
  border-radius: 12px;
  height: 200px;
  overflow: hidden;
  transition: height 500ms ease;
  margin-bottom: 20px;
  /* display: flex; */
  position: relative;
}

.post-grid {
  display: grid;
  /* grid-template-rows: 400px 400px; */
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.post-wrapper.expanded {
  /* height: 400px; */
  height: auto;
}

.post-content {
  padding: 1em;
}
.post-content > h2, .post-content > p {
  color: rgb(var(--dark-bg));
  font-family: Mitr-Regular;
}

.post-text {
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; */
  /* overflow: hidden; */
}

.fix-bottom {
  position: absolute;
  bottom: 30px;
}

.open-post-button {
  display: flex;
  justify-self: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* position: absolute; */
  /* bottom: 10px; */
}

.arrow-down {
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid rgb(var(--dark-bg));
  z-index: 100;
}
.arrow-down::after{
  content: "";
  position: absolute;
  top: -14px;
  left: -24px;
  width: 0;
  height: 0;
  border-left: 14px solid;
  border-right: 14px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  /* color: rgb(var(--white-bg)); */
  color: red;
}

.arrow-left {
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(var(--dark-bg));
  z-index: 100;
  transition: transform 1s;
}
.arrow-left::after{
  content: "";
  position: absolute;
  top: -14px;
  left: -8px;
  width: 0;
  height: 0;
  border-right: 14px solid;
  border-left: 14px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  color: rgb(var(--white-bg));
}
.arrow-left.mouseover {
  transform: translateX(-15px);
  transition: transform 1s;
}

.new-arrow-left.arrow-left:hover {
  transform: translateX(15px);
  transition: transform 1s;
}

.new-arrow-left {
  position: absolute;
  transition: transform 300ms ease-in;
  z-index: 99;
}

.arrow-right {
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid rgb(var(--dark-bg));
  z-index: 100;
  transition: transform 1s;
}
.arrow-right::after{
  content: "";
  position: absolute;
  top: -14px;
  left: -20px;
  width: 0;
  height: 0;
  border-left: 14px solid;
  border-right: 14px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  color: rgb(var(--white-bg));
}
.arrow-right.mouseover {
  transform: translateX(15px);
  transition: transform 1s;
}

.new-arrow-right.arrow-right:hover {
  transform: translateX(15px);
  transition: transform 1s;
}

.new-arrow-right {
  position: absolute;
  transition: transform 300ms ease-in;
  z-index: 99;
}

.new-arrow {
  position: absolute;
  transition: transform 300ms ease-in;
  z-index: 99;
}

.word-link {
  display: inline-block;
}
.word-link:hover {
	animation: color_change 0.5s;
  animation-fill-mode: forwards;
}
@keyframes color_change {
	from { background-color: none; }
	to { background-color: rgba(170, 240, 170, 0.5); }
}

.flip-color:hover {
  cursor: crosshair;
  background-color: rgba(255, 255, 255, 0.9);
}

.container {
  height: 100%;
  width: 100%;
}

#bg {
  background: #7D7C7C;
}

.bouncebox {
  border-radius: 10% / 50%;
  padding: 15px;
  animation: bouncebox-back linear 1s;
  animation-fill-mode: forwards;
  border: solid 7px #41403E;
}
.bouncebox:hover {
  animation: bouncebox linear 0.6s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
@keyframes bouncebox {
	0% { border-radius: 10% / 50%; }
  12% { border-radius: 0%; }
  24% { border-radius: 5%; }
}
@keyframes bouncebox-back {
  0% { border-radius: 5%; }
  12% { border-radius: 0%; }
	24% { border-radius: 10% / 50%; }
}

.text-box {
  position: relative;
  padding: 50px;
  background: rgb(var(--white-bg));;
  height: 100px;
  width: 400px;
}
.text-box > h2 {
  color: rgb(var(--dark-bg));
}

.pop-out {
-webkit-animation: pop-out 0.2s ease-in-out both;
        animation: pop-out 0.2s ease-in-out both;
        animation-iteration-count: 1;
}
.pop-in {
-webkit-animation: pop-in 0.2s ease-in both;
        animation: pop-in 0.2s ease-in both;
        animation-iteration-count: 1;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh) scaleX(0.5) scaleY(1.5);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  padding-bottom: 30vh;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.play-button {
  position: relative;
  height: 80px;
  width: 100px;
  background: rgb(var(--dark-bg));
  border: 2px solid rgb(var(--white-bg));;
  border-radius: 10px;
}

.play-button-wrapper {
  width: 60px;
  height: 60px;
}

.play-button-wrapper > svg {
  display: block;
  position: relative;
  left: 15px;
  top: 4px;
  margin: auto;
}

.scene {
  /* width: 210px;
  height: 140px; */
  width: 300px;
  height: 500px;
  position: relative;
  perspective: 1000px;
  margin-bottom: 200px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.carousel__cell {
  position: absolute;
  /* width: 190px;
  height: 120px; */
  /* width: 1080px;
  height: 1920px; */
  width: 270px;
  height: 480px;
  left: 10px;
  top: 10px;
}

/* r = 0.5 width of panel / tan(0.5 arc of each panel) */
/* r is center distance to middle of each panel */
/* .carousel__cell:nth-child(1) { transform: rotateY(  0deg); }
.carousel__cell:nth-child(2) { transform: rotateY( 60deg); }
.carousel__cell:nth-child(3) { transform: rotateY(120deg); }
.carousel__cell:nth-child(4) { transform: rotateY(180deg); }
.carousel__cell:nth-child(5) { transform: rotateY(240deg); }
.carousel__cell:nth-child(6) { transform: rotateY(300deg); } */

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(260px); }
.carousel__cell:nth-child(2) { transform: rotateY( 60deg) translateZ(260px); }
.carousel__cell:nth-child(3) { transform: rotateY(120deg) translateZ(260px); }
.carousel__cell:nth-child(4) { transform: rotateY(180deg) translateZ(260px); }
.carousel__cell:nth-child(5) { transform: rotateY(240deg) translateZ(260px); }
.carousel__cell:nth-child(6) { transform: rotateY(300deg) translateZ(260px); }

.slider-wrapper{
  width: 300px;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #D8B608;
  border: rgb(var(--dark-bg)) 1px solid;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #D8B608;
  border: rgb(var(--dark-bg)) 1px solid;
  cursor: pointer;
}

/** The Keyframes **/
@-webkit-keyframes pop-out {
0% {
  box-shadow: none;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
100% {
  box-shadow: -2px 2px 0 2px #D8B608, -4px 4px 0 4px #d8b50880;
  -webkit-transform: translateX(4px) translateY(-4px);
          transform: translateX(4px) translateY(-4px);
}
}
@keyframes pop-out {
0% {
  box-shadow: none;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
100% {
  box-shadow: -2px 2px 0 2px #D8B608, -4px 4px 0 4px #d8b50880;
  -webkit-transform: translateX(4px) translateY(-4px);
          transform: translateX(4px) translateY(-4px);
}
}

@-webkit-keyframes pop-in {
0% {
  box-shadow: -2px 2px 0 2px #D8B608, -4px 4px 0 4px #d8b50880;
  -webkit-transform: translateX(4px) translateY(-4px);
          transform: translateX(4px) translateY(-4px);
}
100% {
  box-shadow: none;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
}
@keyframes pop-in {
0% {
  box-shadow: -2px 2px 0 2px #D8B608, -4px 4px 0 4px #d8b50880;
  -webkit-transform: translateX(4px) translateY(-4px);
          transform: translateX(4px) translateY(-4px);
}
100% {
  box-shadow: none;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
}

@-webkit-keyframes move-in-nav {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes move-in-nav {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes move-out-nav {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes move-out-nav {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
#mobile-nav {
  display: none;
}
#mobile-nav > div {
  display: block;
  background: white;
  margin-bottom: 2px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
#open-nav-button {
  display: none;
  z-index: 999999;
}

@media only screen and (max-width: 800px) {
  .max-width-wrapper {
    max-width: 780px;
  }
  #nav-items {
    display: none;
  }

  .text-box {
    width: 200px;
    height: auto;
  }

  nav {
    top: 0;
    padding: 0;
    left: 0;
    right: unset;
    z-index: 999999;
  }
  nav > div > a {
    font-family: StalinistOne-Regular;
    font-size: 30px;
  }
  #mobile-nav {
    position: fixed;
  }
  /* #mobile-nav > div {
    display: block;
    background: white;
    margin-bottom: 2px;
    animation: 1s move-out-nav forwards;
    animation: 1s move-out-nav forwards;
    animation-delay: calc(var(--animation-order) * 300ms);
  } */
  #mobile-nav.closed > div {
    -webkit-animation: 500ms move-out-nav backwards ease-out;
            animation: 500ms move-out-nav backwards ease-out;
    -webkit-animation-delay: calc(var(--animation-order) * 100ms);
            animation-delay: calc(var(--animation-order) * 100ms);
  }
  #mobile-nav.opened > div {
    -webkit-animation: 500ms move-in-nav forwards ease-in;
            animation: 500ms move-in-nav forwards ease-in;
    -webkit-animation-delay: calc(var(--animation-order) * 300ms);
            animation-delay: calc(var(--animation-order) * 300ms);
  }

  #open-nav-button {
    display: block;
    position: fixed;
    background: red;
    height: 40px;
    width: 40px;
    right: 32px;
    top: 12px;
  }
}